<div class="container" id="printSectionId">
  <mat-card>
    <div class="form-container, table-wrapper">
      <table class="table" border="1">
        <tr>
          <td>
            <div>
              <p style="text-align: center">
                <img src="assets\img\login.png" height="100" width="250" style="text-align: center" />&nbsp;
              </p>
              <strong>
                <h2 style="text-align:center"> <b><u>LOAN AGREEMENT(Quick Online Loan)</u></b></h2>
              </strong>

              <p class="justify">
                This LOAN AGREEMENT is made at the place and on the day mentioned in the <strong>schedule-1</strong>
                herein, entered by and between:</p>
              <p class="justify indent">
                <strong>Manappuram Finance Ltd</strong>, a company incorporated under the provisions
                of the Company Act, 1956 having its registered office at Manappuram House Valappad,
                Thrissur, Kerala &ndash; 680567 hereinafter referred to as the 'Lender' of the One Part,
              </p>
              <p class="justify center">
                AND</p>
              <p class="justify indent">
                THE BORROWER whose names and addresses are stated in schedule-1, hereinafter referred to as ‘Borrower’
                of
                the Other Part. The Borrower and Lender are hereinafter individually referred as ‘Party’ and
                collectively referred
                as ‘Parties’.</p>
              <br />
              <br />
              <p class="justify">
                IT IS HEREBY AGREED BY AND BETWEEN THE PARTIES AS UNDER:</p>
              <ol class="main-list">


                <li> The Borrower borrowed from the Lender and the Lender has granted a loan not exceeding the
                  amount
                  stated in the schedule-2 on the term, conditions and the purpose as the stated in this agreement
                  and/or in the Borrower’s applications for the loan and the Lender has transferred the loan amount
                  to the bank account of Borrower.</li>
                <li> The Borrower shall be liable to pay interest on the loan from the date of this agreement,
                  at the
                  rate of interest as specified in the schedule-2 and shall be compounded with monthly rests on the
                  outstanding balances at the end of each month.</li>
                <li> The Borrowers shall repay the loan, interest and other charges as per the schedule-2.</li>
                <li> The Lender, at its sole discretion, and on such terms as to pre-payment/part payment as it
                  may prescribe, permit acceleration of part payment or prepayment at the request of the Borrower(s)
                  subject to such conditions as stipulated in the Schedule-2</li>
                <li> The Borrower shall pay to the Lender non-refundable processing/service charges as stated in
                  the
                  schedule-2.</li>
                <li> If the Borrower defaults in making any payment due to the Lender, the Borrower shall pay to
                  the
                  Lender additional interest at the rate of specified in the schedule-2.</li>
                <li> The Lender in its sole discretion would be entitled to modify and vary the said rate of
                  interest and other charges from time to time including on account of changes in interest rates
                  made by the Reserve Bank of India from time to time. In the event rate of interest or other
                  charges are modified, then in such event interest or other charges would be payable by the
                  Borrower at the revised rate. Such variation(s) would be intimated to the Borrower and would be
                  applicable prospectively and be binding upon the Borrower. Lender shall notify any change in the
                  Interest Rate by intimating the customers updating the same on its Website. The Borrower shall
                  keep himself/herself/itself advised of the variations from time to time. The Borrower shall also
                  pay and bear all interest tax and other taxes as may be applicable.</li>

                <div class="print-footer" style="position:relative;">
                  <p class="watermark"> {{getsigned}}</p>
                </div>
                <div class="page-break"></div>

                <li> The Borrower shall repay/pay the Loan and interest that is due from time to time, in
                  equated
                  monthly instalments (“EMI”) / equated fortnightly instalments (“EFI”) as specified in the
                  Schedule-3 (time being the essence of the agreement). The Borrower confirms having perused,
                  understood and agreed to Lender’s method of calculating EMI / EFI as also the appropriation
                  thereof into principal and interest.</li>
                <li> Wherever the Borrower has requested, the Lender may, at its own discretion, also finance
                  the
                  insurance premium of an insurance policy insuring the Borrower against the risk on the life of
                  the Borrower for an amount upto the Loan Amount, with the Lender as the Loss Payee, provided that
                  such insurance policy has been taken out by the Lender on behalf of the Borrower from an insurance
                  company approved by the Lender with a specific instruction and authority by the Borrower to such
                  insurance company that in case of death of the Borrower, the insurance amounts will be paid to the
                  Lender by such insurance company and further authorises the Lender to appropriate such insurance
                  proceeds towards the Outstanding Balance under the Loan. Such insurance premium paid by the Lender
                  on behalf of the Borrower shall be added as the principal amount to the Loan granted herein and shall
                  form part of the Loan. The Borrower shall pay to the Lender the amounts towards insurance premium a
                  mentioned above which shall be included to the instalments of the Loan. The insurance premium being
                  a part of Loan may be disbursed by the Lender directly to such an insurance company approved by the
                  Lender and such disbursement shall be deemed to be disbursement to the Borrower. Wherever the Borrower
                  agrees for the insurance coverage, all expenses, charges, fees, service tax and other taxes etc as
                  applicable shall be incurred and paid by the Borrower. In the event the said charges are paid by the
                  Lender on Borrower behalf, the Borrower shall reimburse the same to the Lender within 24 hours of
                  receipt of a demand from the Lender.</li>
                <li> The Borrower undertakes to the Lender to honour all payments without fail and not to
                  instruct their
                  bankers to stop the payments of the cheques/ countermand the cheques/revoke the ECS/SI/NACH
                  instructions.
                  The Borrower shall not Instruct the Lender to withhold depositing the cheques. In case of dishonour of
                  cheques or any other instruments issued by the Borrower or where the Borrowers revoke the ECS/SI /NACH
                  instructions issued by them to the drawee Bank, or where despite the Borrower having issued the
                  Instructions to the drawee Bank under the ECS/SI/NACH mode, the Lender has not received the monies
                  equivalent to the EMI/EFI / Repayment Mode, the Borrower agree and undertakes that the Borrower liable
                  to pay the EMI/EFI / Repayment Mode along with Cheque Bounce charges and Additional Interest as stated
                  in
                  the Schedule to this Agreement and shall also be liable to reimburse the Lender, costs and expenses,
                  including legal fees. The Lender will issue no notice reminder or intimation to the Borrower regarding
                  the presentation of the aforesaid cheques, ECS/SI /NACH as the case may be. Nothing contained in this
                  clause shall prejudice the other rights of the Lender under the Negotiable Instruments Act, 1881
                  and/or
                  Payment & Settlement Systems Act, 2007 or other applicable laws.</li>
                <li> Without prejudice to Lender’s other right, the Lender shall be entitled to recall the loan
                  in the event
                  the Borrower commits default in making payment of the instalments on or before due dates or commits
                  breech
                  of any of the terms, covenants, or conditions contained in this agreement.</li>
                <li> The borrower(s) hereby confirms and agrees:
                  <ol style="list-style-type: lower-alpha; margin-right: 5%; padding-left: 15px;">
                    <li> The Lender shall have right of set off in exercise of Lenders general lien under law
                      and shall
                      also have right of lien on all monies accounts, securities, deposits and other assets and
                      properties
                      belongs to the Borrower including pledged gold ornaments, mortgaged immovable properties and
                      hypothecated movable assets which are with or in possession or control of the Lender.</li>

                    <div class="print-footer" style="position:relative; height: 90px;">
                      <p class="watermark"> {{getsigned}}</p>
                    </div>
                    <div class="page-break-after"></div>


                    <li> The statement of accounts of the lender shall be accepted and be binding on the
                      borrowers and shall be conclusive proof of the amounts due under this agreement.</li>
                    <li> The borrowers shall promptly inform the lender of any change in the borrowers
                      residential and /or communication address, Mobile Number and other contact details.</li>
                    <li> All costs, charges, expenses, taxes, duties (including stamp duties) paid by the
                      lender on the borrowers behalf; the borrower shall reimburse the same to the lender
                      within 24 hours of receipt of the lender&rsquo;s demand.</li>
                    <li> to exchange, share, disclose or part with, any or all of the information and data
                      pertaining to him or his account(s) (including personal sensitive data/information
                      and/or any other information that requires a consent under the Information Technology
                      Act, 2000 and the Information Technology (Reasonable Security Practices and Procedures
                      and Sensitive Personal Data or Information) Rules, 2011 and/or any other statute),
                      whether provided by Borrower or otherwise, with any statutory/regulatory bodies or
                      financial institutions or Credit Information Companies/Agencies or parent/subsidiary/
                      affiliate/associate of the Lender or any other third parties engaged by the Lender for
                      KYC information verification, credit risk analysis, or for other related purposes that
                      the Lender may deem fit or with whom the Lender has business relationship, as may be
                      required/permitted by any law, rule or regulations or as required by the Lender and
                      the Lender or its directors/agents/representatives/employees will not be held liable for
                      using/sharing such information.</li>


                  </ol>

                </li>
                <li>All disputes arising in connection with this agreement, at any time,shall be settled among
                  the parties by discussions.
                  After the dispute has arisen and if parties fail to arrive at a consensus settlement, the same may be
                  referred to a Sole Arbitrator, as may be
                  mutually agreed to and appointed by the parties in dispute by entering into an express agreement to
                  that effect OR each party may appoint one Arbitrator and the two
                  Arbitrators appointed thus shall appoint the third Arbitrator who shall be the presiding arbitrator or
                  through institutional arbitration OR an Arbitrator may be appointed through
                  a Court of Law as the case may be as stipulated under Section 11 of the Arbitration and Conciliation
                  Act, 1996. The Sole Arbitrator thus appointed shall under no circumstances,
                  fall under Schedules Five or Seven of the said Act. In the event of incapacity or resignation or death
                  of the Sole Arbitrator, another Sole Arbitrator shall be appointed
                  subject to provisions stipulated under Section 11 of the said Act unless otherwise agreed by the
                  parties, the procedure shall continue from the stage at which the predecessor has
                  left it. The arbitration proceedings shall be governed by the Arbitration and Conciliation Act, 1996
                  with any statutory modifications and re-enactments or amendments thereof.
                  The award of the arbitration shall be final and binding on the parties and shall be enforceable in any
                  competent court of law. This shall be subject to the rights of the Lender to proceed with the section
                  138 Negotiable Act
                  as mentioned in the clause no 10 above.</li>
                <li>If there are two or more Borrowers, the Borrower’s liability under this agreement shall be
                  joint and several.
                  The Borrower has affixed their signatures after verifying and understanding the content of this
                  agreement.</li>




              </ol>
              <p class="justify">
                The Borrower hereby admits that this Agreement has been completely explained to him/her/them and
                he/she/they has/have
                fully understood the meaning of each and every CLAUSE, TERM & CONDITIONS and has/have signed this
                Agreement with full
                knowledge and understanding of the obligations herein willingly undertaken, agreed and accepted.</p>
              <p class="justify">
                IN WITNESS WHEREOF, the parties here to have set their hands on the date and year
                mentioned in the schedule herein.</p>
              <br><br>

              <div class="print-footer" style="position:relative; height: 90px;">
                <p class="watermark"> {{getsigned}}</p>
              </div>
              <div class="page-break"></div>


              <div class="table-wrapper">

                <h3 class="center">KFS-Schedule-1</h3>

                <table class="table" border="1">
                  <tr>
                    <th>Sr.No</th>
                    <th>Particulars</th>
                    <th>Details</th>
                  </tr>

                  <tr>
                    <td>1</td>
                    <td>Date of Execution of Loan Agreement</td>
                    <td>{{ loandt | date:'dd-MMM-yyyy' }}</td>
                  </tr>

                  <tr>
                    <td>2</td>
                    <td>Place of the agreement</td>
                    <td>{{ agmntplc }}</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>Loan Date</td>
                    <td>{{ loandt | date:'dd-MMM-yyyy' }}</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>Annualized Rate of Interest</td>
                    <td><b>{{ anlint }}%</b></td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>Purpose Of Loan</td>
                    <td>Personal Need</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>Name the Borrower/Co Borrower</td>
                    <td>{{ borrnm }}</td>
                  </tr>

                  <tr>
                    <td>7</td>
                    <td>Address</td>
                    <td>{{ addr }}</td>
                  </tr>

                  <!-- <tr>
                    <td>8</td>
                    <td>Email address</td>
                    <td>{{ emailaddr }}</td>
                  </tr>

                  <tr>
                    <td>9</td>
                    <td>Mobile No.</td>
                    <td>{{ mobno }}</td>
                  </tr> -->

                  <tr>
                    <td>8</td>
                    <td>Registered mobile number</td>
                    <td>{{ mobno }}</td>
                  </tr>

                  <tr>
                    <td>9</td>
                    <td>Type of Borrower</td>
                    <td>Individual</td>
                  </tr>

                  <!-- Schedule 2 -->
                  <tr>
                    <td colspan="3">
                      <h3 class="center">KFS-Schedule-2</h3>
                    </td>
                  </tr>

                  <tr>
                    <th>Sr.No</th>
                    <th>Particulars</th>
                    <th>Details</th>
                  </tr>

                  <tr>
                    <td>(i)</td>
                    <td>Loan Amount</td>
                    <td>Rs. {{ loanamt }} /-</td>
                  </tr>

                  <tr>
                    <td>(ii)</td>
                    <td>Total interest charge during the entire tenor of
                      the loan (in Rupees)</td>
                    <td>{{ intchg }}</td>
                  </tr>

                  <tr>
                    <td>(iii)</td>
                    <td>Other up-front charges, if any (break-up of
                      each component to be given below) (in
                      Rupees)</td>
                    <td>{{ upfrontchg }}</td>
                  </tr>

                  <tr>
                    <td>a</td>
                    <td>Processing Fee Including GST</td>
                    <td>{{ procfee }} ({{ process_rate }}% of loan amount plus applicable
                      taxes)</td>
                  </tr>

                  <tr>
                    <td>b</td>
                    <td>Credit Linked Insurance Premium</td>
                    <td>Rs. {{ crdlinked }}</td>
                  </tr>

                  <tr>
                    <td>c</td>
                    <td>Others (if any) (in Rupees) (details to be
                      provided)</td>
                    <td>{{ othlinked }}</td>
                  </tr>

                  <tr>
                    <td>iv</td>
                    <td>Net disbursed amount ((i)-(iii)) (in Rupees)</td>
                    <td>{{ netdisbursed }}</td>
                  </tr>

                  <tr>
                    <td>v</td>
                    <td>Total amount to be paid by the borrower (sum
                      of (i), (ii) and (iii)) (in Rupees)</td>
                    <td>Rs. {{ totamt }}</td>
                  </tr>

                  <tr>
                    <td>vi</td>
                    <td>Annual Percentage Rate</td>
                    <td>{{ annualper }}</td>
                  </tr>

                  <tr>
                    <td>vii</td>
                    <td>Tenure (in Months)</td>
                    <td>{{ tenure }}</td>


                  </tr>
                  <tr style="border: none;">
                    <td style="border: none;"></td>
                    <td style="border: none;"></td>
                    <td style="border: none;">
                      <div class="print-footer" style="position:relative; text-align:right;">
                        <p class="watermark"> {{getsigned}}</p>
                      </div>
                    </td>


                  </tr>
                  <!-- <p class="right" style="align-items: end;">Sheron</p> -->

                  <!-- <tr>
                    <td>viii</td>
                    <td>Repayment frequency by the borrower</td>
                    <td>{{ repayfreq }}</td>
                  </tr>

                  <tr>
                    <td>ix</td>
                    <td>No of Installment of repayment</td>
                    <td>{{ noofrepay }}</td>
                  </tr>

                  <tr>
                    <td>x</td>
                    <td>Amount of each instalment of repayment(EMI
                      in Rupees)</td>
                    <td>Rs. {{ emiamt }}</td>
                  </tr>

                  <tr>
                    <td>xi</td>
                    <td>EFI / EMI due date</td>
                    <td>{{ dayValue }} day of every month</td>
                  </tr>

                  <tr>
                    <td>xii</td>
                    <td> Repayment Mode</td>
                    <td>NACH / ECS/UPI/INTERNET BANKING/CASH</td>
                  </tr>

                  <tr>
                    <td>xiii</td>
                    <td>Rate of annualized penal charges in case of
                      delayed payments (if any should be in bold )</td>
                    <td>{{ penrt }}%</td>
                  </tr>

                  <tr>
                    <td>xiv</td>
                    <td>Foreclosure Charges</td>
                    <td>4% of the loan amount outstanding, as on
                      the date of such full prepayment /
                      foreclosure plus applicable taxes</td>
                  </tr>

                  <tr>
                    <td>xv</td>
                    <td> ACH/Cheque Return Charges (Including GST)</td>
                    <td>
                      <ul style="padding-left: 20px;">
                        <li>1st Instance Rs:500/- </li>
                        <li>2nd Instance Rs:750/-</li>
                        <li>3rd and above Instance Rs:1000/-</li>
                      </ul>
                    </td>
                  </tr>

                  <tr>
                    <td>xvi</td>
                    <td>Prepayment/Part payment Charges</td>
                    <td>Nil, however, the prepayment /part payment
                      amount will be adjusted against future EMI’s or
                      to be adjusted against last EMI instalments</td>
                  </tr>

                  <tr>
                    <td>xvii</td>
                    <td>Legal Charges</td>
                    <td>Actual</td>
                  </tr>

                  <tr>
                    <td>xviii</td>
                    <td>Loan Disbursement Mode</td>
                    <td>NEFT / IMPS / RTGS</td>
                  </tr> -->

                  <div class="page-break"></div>
                  <!-- Disbursement -->

                  <tr>
                    <td colspan="3">
                      <h3 class="center">Disbursement Details</h3>
                    </td>
                  </tr>

                  <tr>
                    <td>a</td>
                    <td>Beneficiary Name</td>
                    <td>{{ benefname }}</td>
                  </tr>

                  <tr>
                    <td>b</td>
                    <td>Bank Name</td>
                    <td>{{ bnkname }}</td>
                  </tr>

                  <tr>
                    <td>c</td>
                    <td>Account No</td>
                    <td>{{ bnkacc }}</td>
                  </tr>

                  <tr>
                    <td>d</td>
                    <td>IFSC Code</td>
                    <td>{{ ifsc }}</td>
                  </tr>

                  <!-- <tr>
                    <td colspan="3">
                      <h3 class="center">Other disclosures</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Details of LSP acting as recovery agent and
                      authorized to approach the borrower</td>
                    <td>NA. However, will inform the borrower in
                      advance of any agent/authorized person
                      appointed for recovery in future.</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Cooling off/look-up period.</td>
                    <td>Borrower shall have the option to exit from the
                      digital loan by paying principal and
                      proportionate APR without any penalty during
                      the first 3 days of disbursement of the loan</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Name,designation,address,and phone number
                      of nodal grievance redressal officer designated
                      specifically to deal with FinTech/ digital lending
                      related complaints/issues</td>
                    <td>Saroja kumar panda 04873050238
                      Time8:30am to 5:30pm Toll free 1800 - 420
                      22 - 33</td>
                  </tr> -->

                </table>

              </div>




              <p style="text-align: center">
                <strong>Schedule-3</strong>
              </p>
              <p style="text-align: center">
                <strong><u>Repayment Schedule</u></strong>
              </p>
              <br />

              <div class="table-wrapper">
                <table class="table" border="1" width="100%">


                  <tr>
                    <th style="width:100px">Due Date</th>
                    <th style="width:50px">Installment No</th>
                    <th style="width:50px">Outstanding Principal</th>
                    <th style="width:50px">Principal</th>
                    <th style="width:50px">Interest Amount</th>
                    <th style="width:50px">EMI</th>
                  </tr>


                  <tr *ngFor="let item of reccur">
                    <td class="center">{{ item.dueDate | date:'dd-MMM-yyyy' }}</td>

                    <td class="center">{{ item.installmentNo }}</td>

                    <td class="right">{{ item.openingBalance }}</td>

                    <td class="right">{{ item.principalAmount }}</td>

                    <td class="right">{{ item.interestAmount }}</td>

                    <td class="right">{{ item.installmentAmount }}</td>
                  </tr>


                  <tr class="footer">
                    <td colspan="2" class="center"><b>Total</b></td>

                    <td></td>

                    <td class="right"><b>{{ getTotal('principalAmount') }}</b></td>

                    <td class="right"><b>{{ getTotal('interestAmount') }}</b></td>

                    <td class="right"><b>{{ getTotal('installmentAmount') }}</b></td>
                  </tr>


                </table>
              </div>



            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="print-footer" style="position:relative;">
      <p class="watermark"> {{getsigned}}</p>
    </div>
  </mat-card>
</div>