// .container {
//   margin: 100px;
//   margin-top: 25px !important;
//   font-family: sans-serif;
//   font-size: 12px;
// }

.center {
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 6px;
  border: 1px solid black;
}

.right {
  text-align: right;
}

.footer {
  font-weight: bold;
}

///////////
/// 
.auto-style1 {
  height: 38px;
  text-align: center;
}

.auto-style2 {
  text-decoration: underline;
}

.auto-style3 {
  text-align: justify;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.justify {
  text-align: justify;
  padding-right: 20px;
}


.signature-row {
  display: flex;
  justify-content: space-between; 
  align-items: baseline;            
  width: 100%;
}

.left {
  text-align: left;
  padding-left: 15px;
}

.right {
  text-align: right;
  padding-right: 15px;
}

.indent {
  margin-left: 40px; 
}




.main-list {
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 22px;
}

.main-list > li {
  margin-bottom: 8px;
}

.sub-list {
  list-style-type: lower-alpha;
  margin-top: 5px;
  margin-left: 20px;
}

.sub-list > li {
  margin-bottom: 5px;
}










.signature-row p {
  margin: 0; 
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  font-size: 13px;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    padding: 15px;
    font-size: 12px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    padding: 10px;
    font-size: 11px;
  }

  .signature-row {
    flex-direction: column;
    gap: 10px;
  }

 

  .left {
    text-align: left;
    width: 100%;
  }

  .right {
    text-align: right;
    width: 100%;
  }


  mat-card {
    padding: 10px;
  }


}



.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 700px;
  /* prevents breaking */
  border-collapse: collapse;
}


.justify,
.auto-style3 {
  text-align: justify;
  padding-right: 10px;
  word-break: break-word;
}

mat-card {
  padding: 15px;
}