<div class="flex-p">
  <mat-card>
    <div class="head">
      <h3>Death Approval</h3>
    </div>





    <div>
      <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="end" class="myt-1">
        <mat-form-field fxFlex="30%" fxFlex.xs="90%" appearance="outline">
          <mat-label>Search here..with CustomerID</mat-label>
          <input matInput autocomplete="off" placeholder="Search here.." type="text" [(ngModel)]="filter" name="filter"
            (keyup)="filterSource($event.target.value)">
        </mat-form-field>
       
       
      </div>

       <div style="overflow: scroll;-ms-overflow-style: scrollbar;max-height: 390px">
      <table mat-table [dataSource]="dataSource" width="100%">
          <ng-container matColumnDef="slno" >
              <th mat-header-cell *matHeaderCellDef style="width: 120px !important;"> SL. No.</th>
              <td mat-cell *matCellDef="let element; let i = index;" style="width: 120px !important;">{{i+1}} </td>
            </ng-container>
        <ng-container matColumnDef="LoanID">
          <th mat-header-cell *matHeaderCellDef>Loan ID</th>
          <td mat-cell *matCellDef="let element;">
            {{element.loan_id}}
             </td>
        </ng-container>
        <ng-container matColumnDef="custnmee">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let element;">
            {{element.customer_name}}
             </td>
        </ng-container>
        <ng-container matColumnDef="deathdte">
          <th mat-header-cell *matHeaderCellDef>Death Date</th>
          <td mat-cell *matCellDef="let element;">
            {{element.death_date | date}}
             </td>
        </ng-container>
        <ng-container matColumnDef="nominenme">
          <th mat-header-cell *matHeaderCellDef>Nominee Name</th>
          <td mat-cell *matCellDef="let element;">
            {{element.nominee_name}}
             </td>
        </ng-container>
        <ng-container matColumnDef="nomineaddre">
          <th mat-header-cell *matHeaderCellDef>Nominee Address</th>
          <td mat-cell *matCellDef="let element;">
            {{element.nominee_address}}
             </td>
        </ng-container>
        <ng-container matColumnDef="claimamt">
          <th mat-header-cell *matHeaderCellDef>Claim Amount</th>
          <td mat-cell *matCellDef="let element;">
            {{element.claim_amount}}
             </td>
        </ng-container>
        <ng-container matColumnDef="insurenum">
          <th mat-header-cell *matHeaderCellDef>Insurance Number</th>
          <td mat-cell *matCellDef="let element;">
            {{element.insurancenumber}}
             </td>
        </ng-container>
        <ng-container matColumnDef="deathcertificate">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Death Certificate</th>
          <td mat-cell *matCellDef="let element;">
            <mat-icon (click)="changeIcon(element,fileExte,1)" style="background-color: bisque;cursor: pointer;fill:none">photo_size_select_actual</mat-icon>
          </td>
        </ng-container>

  
        <ng-container matColumnDef="Nomineeadhaar">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nominee AAdhaar </th>
          <td mat-cell *matCellDef="let element;">
            <mat-icon (click)="changeIcon(element,fileExte,2)" style="background-color: bisque;">photo_size_select_actual</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="nominPanpic">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nominee Pan</th>
          <td mat-cell *matCellDef="let element;">
            <mat-icon (click)="changeIcon(element,fileExte,3)" style="background-color: bisque;">photo_size_select_actual</mat-icon>
          </td>
        </ng-container>
       
      
    
     
       
        <ng-container matColumnDef="Nominebankdet">
          <th mat-header-cell *matHeaderCellDef> Nominee Bank</th>
          <td mat-cell *matCellDef="let element;">
             <mat-icon (click)="changeIcon(element,fileExte,4)" style="background-color: bisque;cursor: pointer;fill:none">photo_size_select_actual</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="ViewReport">
          <th mat-header-cell *matHeaderCellDef>View Report</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button mat-button color="primary" type="reset" class="false mat-elevation-z12" (click)="viewreport(element,i)"
            id="clear_btn">View</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="reject">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button mat-button color="primary" type="reset" class="false mat-elevation-z12" (click)="rejectrep(element,i)"
            id="clear_btn">Reject</button>
          </td>
        </ng-container>
      
        
        
       
        
       

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let element;let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}" class="a_custom"
        >
        </tr>
      </table>
      <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div> 

  </div>

</mat-card>
</div>