.custom-dropdown  {
    position: relative;
    font-size: 0.9375rem !important;
    font-weight: 600 !important;
    color: #0e0d0d !important;
    font-family: "Gilroy-SemiBold", "Arial", serif !important;
    
}
