<div fxFlex="100%" fxLayout="column" fxLayout.xs="column" fxLayout.gt-sm="row wrap">
    <mat-card fxFlex="100%">
        <div fxLayout="column" class="form-block flex-p">
            <!-- <div class="head">
                <h3> {{name}}</h3>
            </div> -->
            <!-- <h2 class="h2-head">
                <mat-icon class="home-icon" routerLink="/home">home</mat-icon>Approval/{{name}}
            </h2> -->
            <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="2%" fxflex="100%" fxLayoutAlign="center">
                <mat-form-field fxFlex="35.3%" fxFlex.xs="70.3%" appearance="outline">
                    <mat-label>Loan ID</mat-label>
                    <input matInput placeholder="Loan ID" [(ngModel)]="loanID" (click)="loanSearch()" name="loan_ID"
                        #loanIDTxt="ngModel" readonly required>
                </mat-form-field>
                <button mat-fab color="primary" type="button" class="mat-elevation-z12"
                    aria-label="Example icon button with a delete icon" (click)="loanSearch()">
                      <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    
        <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxflex="100%" style="margin-bottom: 18px;">
            <div fxLayoutAlign="end" fxFlex='85.5%' fxFlex.sm='74.5%'>
                <button mat-button color="primary" type="button" class="true mat-elevation-z12"
                    style="height: fit-content;" *ngIf=InstallmentForm.valid (click)="SOA(loanID)">Account Statement
                </button>
            </div>
            <div fxLayoutAlign="end" fxFlex='12.5%' fxFlex.sm='23.5%'>
                <button mat-button color="primary" type="button" class="true mat-elevation-z12"
                    style="height: fit-content;" *ngIf=InstallmentForm.valid (click)="OnRepaymentSchedule()">Repayment
                    schedule
                </button>
            </div>
        </div> -->
        <div fxLayout="column" class="form-block flex-p">
            <form #InstallmentForm="ngForm" fxLayout="column" fxFlex="100%" novalidate>
                <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="2%" fxFlex="100%">
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Customer ID</mat-label>
                        <input matInput [(ngModel)]="customerID" name="Customer_ID" #Customer_IDTxt="ngModel" readonly
                            required>
                        <mat-error *ngIf="Customer_IDTxt.errors?.required">Customer ID is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Customer Name</mat-label>
                        <input matInput [(ngModel)]="customerName" name="Customer_Name" #Customer_NameText="ngModel"
                            readonly required>
                        <mat-error *ngIf="Customer_NameText.errors?.required">Customer Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Loan Date</mat-label>
                        <input matInput [(ngModel)]="LoanDate" name="Loan_Date" #Loan_DateTxt="ngModel" readonly
                            required>
                        <mat-error *ngIf="Loan_DateTxt.errors?.required">Loan Date is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Loan Amount</mat-label>
                        <input matInput [(ngModel)]="LoanAmount" name="Loan_Amount" #Loan_AmountTxt="ngModel" readonly
                            required>
                        <mat-error *ngIf="Loan_AmountTxt.errors?.required">Loan Amount is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="2%" fxFlex="100%">
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Installment Paid</mat-label>
                        <input matInput [(ngModel)]="InstallmentPaid" name="Installment_Paid"
                            #Installment_PaidTxt="ngModel" readonly required>
                        <mat-error *ngIf="Installment_PaidTxt.errors?.required">Installment Paid is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Current Due</mat-label>
                        <input matInput [(ngModel)]="CurrentDue" name="Current_Due" #Current_DueTxt="ngModel" readonly
                            required>
                        <mat-error *ngIf="Current_DueTxt.errors?.required">Current Due is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Due Date</mat-label>
                        <input matInput [(ngModel)]="DueDate" name="DueDate" #DueDateText="ngModel" readonly required>
                        <mat-error *ngIf="DueDateText.errors?.required">Due date is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Select Due Day</mat-label>
                        <input matInput [(ngModel)]="DueDayID" name="DueDayID" readonly>
                    </mat-form-field>
                </div>
                <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="2%" fxFlex="100%">
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Gap interest days</mat-label>
                        <input matInput [(ngModel)]="Gap" name="Gap" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Next Due Date</mat-label>
                        <input matInput [(ngModel)]="Nextdue" name="Nextdue" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25">
                        <mat-label>Gap days interest Amount</mat-label>
                        <input matInput name="GapAmount" [(ngModel)]="GapAmount" readonly (keypress)="keyPress($event)">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25">
                        <mat-label>Additional Charge</mat-label>
                        <input matInput name="Additional" [(ngModel)]="Additional" readonly
                            (keypress)="keyPress($event)">
                    </mat-form-field>
                </div>
                <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="2%" fxFlex="100%">
                    <mat-form-field fxFlex="25%" appearance="outline">
                        <mat-label>Transaction Date</mat-label>
                        <input matInput [(ngModel)]="Transaction" name="Transaction" #TransactionText="ngModel"
                            autocomplete="off" required readonly>
                        <mat-error *ngIf="TransactionText.errors?.required">Due date is required</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="25%" appearance="outline">
                        <mat-label>Rescheduling Effective date</mat-label>
                        <input matInput [(ngModel)]="Effective" name="Effective" #EffectiveText="ngModel"
                            autocomplete="off" readonly>
                        <mat-error *ngIf="EffectiveText.errors?.required">Due date is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Gap days Interest Treatment</mat-label>
                        <input matInput [(ngModel)]="TreatmentDetails" name="TreatmentDetails" autocomplete="off"
                            readonly>
                    </mat-form-field>
                    <mat-form-field fxFlex="25%" appearance="outline">
                        <mat-label>Installment Amount</mat-label>
                        <input matInput [(ngModel)]="InstallmentAmt" name="InstallmentAmt" autocomplete="off" readonly
                            (keypress)="keyPress($event)">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="25%" appearance="outline">
                        <mat-label>Treatment TreatmentDetails</mat-label>
                        <input matInput [(ngModel)]="TreatmentDetail" name="TreatmentDetail" autocomplete="off" readonly>
                    </mat-form-field>
                    <div fxFlex="25%"></div>
                    <div fxFlex="25%"></div>
                    <div fxFlex="25%"></div>
                </div>
                <div fxLayout="row" fxLayoutGap="5%" fxflex="100%" fxLayout.xs="column">
                    <!-- <div fxFlex=50% fxLayout.xs="row" fxLayoutGap="3%">
                        <div fxFlex=100% ngClass.xs="single-search-responsive">
                            <mat-form-field fxFlex="100%" appearance="outline">
                                <mat-label>Approval Attachment</mat-label>
                                <input matInput readonly *ngIf="FileName == 'No File Selected'" style="font-size: 12px;"
                                    value="Approval Attachment(Supports:JPG,PNG,PDF)">
                                <input matInput readonly *ngIf="FileName != 'No File Selected'" [(ngModel)]="FileName"
                                    name="FileNAME" #tittleAttachment="ngModel">
                                    <div fxLayout.xs="column" fxFlex=0% fxLayoutGap=1%  fxLayoutAlign="end" *ngIf="FileName">
                                        <mat-icon (click)="OpenFile()" class = "visibility">visibility</mat-icon>
                                    </div>
                                <mat-hint>(Supports:JPG,PNG,EXCEL,PDF)</mat-hint>
                            </mat-form-field>
  
                        </div>
                        <div fxLayout.xs="column" fxFlex=6% fxLayoutGap=1%>
                            <input hidden="hidden" type='file'
                                accept=".xlsx, application/pdf, image/*"
                                (change)="onChangeFile($event)" #document>
                            <button mat-icon-button color="primary" type="button" (click)="document.click()"
                                class="mat-elevation-z12 box-button swing" id="but" color="primary" disabled>
                                <mat-icon>scanner</mat-icon>
                            </button>
                        </div>
                    </div> -->
                    <mat-form-field fxFlex="50%" fxFlex.xs="70.3%" appearance="outline">
                        <mat-label>Reason</mat-label>
                        <input matInput [(ngModel)]="Reason" name="Reason" #tittleReasont="ngModel" autocomplete="off"
                            readonly required>
                        <mat-error *ngIf="tittleReasont.errors?.required">Reason is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxflex="100%" fxLayoutAlign="center">
                    <mat-form-field fxFlex="25%" appearance="outline">
                        <mat-label>Maker EmpCode</mat-label>
                        <input matInput [(ngModel)]="EmpCode" name="EmpCode" autocomplete="off" readonly>
                    </mat-form-field>
                    <mat-form-field fxFlex="25%" appearance="outline">
                        <mat-label>Maker Name</mat-label>
                        <input matInput [(ngModel)]="Name" name="Name" autocomplete="off" readonly>
                    </mat-form-field>
                </div>
                <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="2%" fxFlex="100%" style="margin-top: 10px;">
                    <mat-form-field appearance="outline" fxFlex="100%">
                        <mat-label>Comments</mat-label>
                        <textarea matInput [(ngModel)]="Comments" readonly name="Comments"></textarea>
                    </mat-form-field>
                </div>
  
                <div fxLayoutAlign="center" fxLayout.xs="column" fxLayout="row" fxLayoutGap="2%" fxFlex="100%">
                    <button mat-button class="false mat-elevation-z12" color="primary"
                        (click)='duedatechange(InstallmentForm,3)'>Reject</button>
                    <button mat-button class="false mat-elevation-z12" color="primary"
                        (click)='clear(InstallmentForm)'>Clear</button>
                    <button mat-button class="true mat-elevation-z12" color="primary"
                        (click)='duedatechange(InstallmentForm,2)'>Confirm</button>
                </div>
            </form>
        </div>
    </mat-card>
  </div>