<div class="container">
  <mat-card>
    <div class="form-container">
      <table class="table" border="1">
        <tr style="height: 600px;">
          <td>
            <div>
              <p style="text-align: center">
                <img src="assets\img\login.png" height="100" width="250" style="text-align: center" />&nbsp;
              </p>
              <strong>
                <h2 style="text-align:center"> <b><u>ONLINE PERSONAL LOAN AGREEMENT</u></b></h2>
              </strong>

              <p class="justify">
                This LOAN AGREEMENT is made at the place and on the day mentioned in the
                <strong>schedule-1</strong> herein, entered by and between:
              </p>

              <p class="justify indent">
                <strong>Manappuram Finance Ltd</strong>, (hereinafter referred to as MAFIL),
                a company incorporated under the provisions of the Company Act, 1956 having its
                registered office at Manappuram House Valappad, Thrissur, Kerala – 680567,
                hereinafter referred to as the 'Lender' (which expression shall, unless it be
                repugnant to the context or meaning thereof, be deemed to mean and include its
                successors and assigns) of the One Part,
              </p>

              <p class="justify center">
                AND
              </p>

              <p class="justify indent">
                THE BORROWER whose names and addresses are stated in schedule-1, hereinafter referred to as
                <b>‘Borrower’</b> of the Other Part. The Borrower and Lender are hereinafter individually
                referred to as ‘Party’ and collectively referred to as ‘Parties’.
              </p>

              <br>
              <p class="justify">
                IT IS HEREBY AGREED BY AND BETWEEN THE PARTIES AS UNDER:</p>
              <ol class="main-list">

                <li>The Borrower borrowed from the Lender and the Lender has granted a loan not exceeding the
                  amount
                  stated in the schedule-2 on the term, conditions and the purpose as the stated in this agreement
                  and/or in the Borrower’s applications for the loan and the Lender has transferred the loan amount
                  to the bank account of Borrower.</li>

                <li>The Borrower shall be liable to pay interest on the loan from the date of this agreement,
                  at the
                  rate of interest as specified in the schedule-2 and shall be compounded with monthly rests on the
                  outstanding balances at the end of each month.</li>
                <li> The Borrowers shall repay the loan, interest and other charges as per the schedule-2.</li>
                <li> The Lender, at its sole discretion, and on such terms as to pre-payment/part payment as it
                  may prescribe, permit acceleration of part payment or prepayment at the request of the Borrower(s)
                  subject to such conditions as stipulated in the Schedule-2</li>
                <li> The Borrower shall pay to the Lender non-refundable processing/service charges as stated in
                  the
                  schedule-2.</li>
                <li> If the Borrower defaults in making any payment due to the Lender, the Borrower shall pay to
                  the
                  Lender additional interest at the rate of specified in the schedule-2.</li>
                <li> The Lender in its sole discretion would be entitled to modify and vary the said rate of
                  interest and other charges from time to time including on account of changes in interest rates
                  made by the Reserve Bank of India from time to time. In the event rate of interest or other
                  charges are modified, then in such event interest or other charges would be payable by the
                  Borrower at the revised rate. Such variation(s) would be intimated to the Borrower and would be
                  applicable prospectively and be binding upon the Borrower. Lender shall notify any change in the
                  Interest Rate by intimating the customers updating the same on its Website. The Borrower shall
                  keep himself/herself/itself advised of the variations from time to time. The Borrower shall also
                  pay and bear all interest tax and other taxes as may be applicable.</li>

                <li> The Borrower shall repay/pay the Loan and interest that is due from time to time, in
                  equated
                  monthly instalments (“EMI”) / equated fortnightly instalments (“EFI”) as specified in the
                  Schedule-3 (time being the essence of the agreement). The Borrower confirms having perused,
                  understood and agreed to Lender’s method of calculating EMI / EFI as also the appropriation
                  thereof into principal and interest.</li>

                <li>The Borrower undertakes to the Lender to honour all payments without fail and not to
                  instruct their
                  bankers to stop the payments of the cheques/ countermand the cheques/revoke the ECS/SI/NACH
                  instructions.
                  The Borrower shall not Instruct the Lender to withhold depositing the cheques. In case of dishonour of
                  cheques or any other instruments issued by the Borrower or where the Borrowers revoke the ECS/SI /NACH
                  instructions issued by them to the drawee Bank, or where despite the Borrower having issued the
                  Instructions to the drawee Bank under the ECS/SI/NACH mode, the Lender has not received the monies
                  equivalent to the EMI/EFI / Repayment Mode, the Borrower agree and undertakes that the Borrower liable
                  to pay the EMI/EFI / Repayment Mode along with Cheque Bounce charges and Additional Interest as stated
                  in
                  the Schedule to this Agreement and shall also be liable to reimburse the Lender, costs and expenses,
                  including legal fees. The Lender will issue no notice reminder or intimation to the Borrower regarding
                  the presentation of the aforesaid cheques, ECS/SI /NACH as the case may be. Nothing contained in this
                  clause shall prejudice the other rights of the Lender under the Negotiable Instruments Act, 1881
                  and/or
                  Payment & Settlement Systems Act, 2007 or other applicable laws.</li>
                <li>The borrower should make the EMI payments regularly as per the schedule. If the repayment
                  is not made on
                  time the account will classified as SMA / NPA. For example, if a customer takes a loan on 1st Jan 2021
                  and
                  repayment is made without default till 1st Dec 2021 and subsequent repayments are not made for the due
                  date
                  1st Jan 2022. Then the loan will fall in SMA 0 on 1st Jan 2022, SMA 1 on 31st Jan 2022, SMA 2 on 2nd
                  Mar 2022
                  and will be treated as NPA upon running day-end process on 1st April 2022.</li>
                <li>Without prejudice to Lender’s other right, the Lender shall be entitled to recall the loan
                  in the event
                  the Borrower commits default in making payment of the instalments on or before due dates or commits
                  breech
                  of any of the terms, covenants, or conditions contained in this agreement.</li>
                <li>The borrower(s) hereby confirms and agrees:

                  <ol style="list-style-type: lower-alpha; padding-left: 15px;">
                    <li> The Lender shall have right of set off in exercise of Lenders general lien under law
                      and shall
                      also have right of lien on all monies accounts, securities, deposits and other assets and
                      properties
                      belongs to the Borrower including pledged gold ornaments, mortgaged immovable properties and
                      hypothecated movable assets which are with or in possession or control of the Lender.</li>
                    <li> That the Borrower(s) confirm that the funds will not be used for the purpose of
                      making investment in the capital market or for any speculative purposes and
                      or antisocial purposes.The Lender has the right to recall the advance if the
                      funds are used for any other purpose other than declared and / or speculative
                      and / or antisocial purposes</li>
                    <li> The statement of accounts of the lender shall be accepted and be binding on the
                      borrowers and shall be conclusive proof of the amounts due under this agreement.</li>
                    <li> The borrowers shall promptly inform the lender of any change in the borrowers
                      residential and /or communication address, Mobile Number and other contact details.</li>
                    <li> All costs, charges, expenses, taxes, duties (including stamp duties) paid by the
                      lender on the borrowers behalf; the borrower shall reimburse the same to the lender
                      within 24 hours of receipt of the lender&rsquo;s demand.</li>
                    <li> to exchange, share, disclose or part with, any or all of the information and data
                      pertaining to him or his account(s) (including personal sensitive data/information
                      and/or any other information that requires a consent under the Information Technology
                      Act, 2000 and the Information Technology (Reasonable Security Practices and Procedures
                      and Sensitive Personal Data or Information) Rules, 2011 and/or any other statute),
                      whether provided by Borrower or otherwise, with any statutory/regulatory bodies or
                      financial institutions or Credit Information Companies/Agencies or parent/subsidiary/
                      affiliate/associate of the Lender or any other third parties engaged by the Lender for
                      KYC information verification, credit risk analysis, or for other related purposes that
                      the Lender may deem fit or with whom the Lender has business relationship, as may be
                      required/permitted by any law, rule or regulations or as required by the Lender and
                      the Lender or its directors/agents/representatives/employees will not be held liable for
                      using/sharing such information.</li>
                    <li> Subject to the borrower consent given through the Mobile Application, the
                      borrower understands and agree that as a loan borrower of MAFIL, the
                      borrower is being enrolled as an Insured Beneficiary under the group Insured
                      Policy (paid policy) issued by the insurance company in favour of MAFIL.</li>
                    <li> The borrower authorize and agree to MAFIL acting as group manager of the
                      Group Insurance Policy issued by the company and also authorize MAFIL to
                      manage the Group Insurance Policy on behalf of the borrower. The borrower
                      also agrees to be governed by and abide by all the standard terms &
                      conditions, including exceptions and exclusions, mentioned by the company
                      in the Group Insurance Policy issued in favour of MAFIL on behalf of the
                      borrower</li>
                    <li> The Borrower understood that the insurance premium shall be deducted from the loan
                      amount
                      sanctioned by Manappuram Finance Limited and hereby
                      authorize Manappuram Finance Limited to deduct the insurance premium for
                      sanctioned loan amount and disburse only the remaining loan amount.</li>
                    <li> The Borrower further agree that all the benefits payable under the above
                      insurance policy shall be paid to MAFIL to the extent of outstanding loan
                      amount including interest / any charges due to MAFIL and balance if any shall
                      be paid to the nominee as chosen by the borrower.</li>
                    <li>The Borrower agrees to voluntarily provide physical copy of Aadhaar Card/Physical
                      e-Aadhaar / Masked Aadhaar / Offline Electronic Aadhaar xml issued by UIDAI (Aadhaar) to establish
                      my identity / address proof. The consent and purpose of collecting Aadhaar has been explained in
                      local language and has informed that this consent and Aadhar will be stored with MAFIL</li>

                  </ol>
                </li>
                <li> ELECTRONIC MEDIA- The Borrower hereby confirms, acknowledges and agrees
                  that the online acceptance of this Agreement including any addendums hereto
                  through the Website or such other internet or web based means results in a binding
                  contract between the Parties.</li>
                <li> The Borrower is aware that transmission of this Agreement, addendums to this
                  Agreement, terms and conditions, instructions, acceptances and
                  communications ('Communications') through electronic means such as email,
                  facsimile, SMS text messaging, websites, online acceptance, etc. ('Electronic
                  Media') involves a number of risks including fraudulent alterations and incorrect
                  transmissions and absence of confidentiality. However, the Borrower is desirous of
                  receiving Communications from and providing Communications to the Lender
                  through the Electronic Media for various matters under this Agreement including
                  in relation to the Loan and the operation thereof.
                </li>
                <li> In consideration of the Lender permitting the same, the Borrower hereby
                  irrevocably, confirms and undertakes to the Lender as under:
                  <ol style="list-style-type: lower-alpha; padding-left: 10px;">
                    <li> The Lender shall be entitled (without being bound to do so) to rely upon the
                      Communications provided through the Electronic Media (and believe the same
                      to be genuine), for their requirements. In case of any question as to what were the
                      Communications provided or received, the records of the Electronic Media
                      provided or received by the Lender shall be treated as final, conclusive and binding.</li>
                    <li> The Borrower has ensured and shall ensure that the Communications provided
                      through the Electronic Media to the Lender are provided by the Borrower and
                      hereby agrees and confirms that the Lender shall not be responsible for
                      conducting any verification whatsoever in this regard.
                    </li>
                    <li> The Borrower confirms that the Lender shall not be bound to act in accordance
                      with whole or any part of the communications as it may appear in the
                      Communications so conveyed and the same shall be at the sole risk of the Borrower.
                    </li>
                    <li> The Lender shall not be liable for the consequences of any act or any refusal
                      or omission to act or deferment of action by the Lender on basis of the
                      Communications through the Electronic Media.
                    </li>
                    <li> The Lender shall not be required to await receipt of the Communications in
                      writing before taking any action in connection with the Communications provided
                      through any Electronic Media and the non-delivery and non-conformity of such
                      Communications in writing shall not in any manner prejudice the Lender’s rights
                      under this Agreement or otherwise.
                    </li>
                    <li> The Lender may at any time whatsoever without assigning any reason withdraw
                      or modify or add the facility/ies provided to the Borrower in relation to the
                      Communications through Electronic Media.</li>
                    <li> The Borrower is aware and confirms that the Lender is agreeing to act on any
                      Communications provided through Electronic Media only by reason of, and relying
                      upon the undertaking and indemnities contained in this clause.
                    </li>
                  </ol>
                </li>

                <li>All disputes arising in connection with this agreement, at any time,shall be settled
                  among the parties by discussions.
                  After the dispute has arisen and if parties fail to arrive at a consensus settlement, the same may
                  be referred to a Sole Arbitrator, as may be
                  mutually agreed to and appointed by the parties in dispute by entering into an express agreement
                  to that effect OR each party may appoint one Arbitrator and the two
                  Arbitrators appointed thus shall appoint the third Arbitrator who shall be the presiding
                  arbitrator or through institutional arbitration OR an Arbitrator may be appointed through
                  a Court of Law as the case may be as stipulated under Section 11 of the Arbitration and
                  Conciliation Act, 1996. The Sole Arbitrator thus appointed shall under no circumstances,
                  fall under Schedules Five or Seven of the said Act. In the event of incapacity or resignation or
                  death of the Sole Arbitrator, another Sole Arbitrator shall be appointed
                  subject to provisions stipulated under Section 11 of the said Act unless otherwise agreed by the
                  parties, the procedure shall continue from the stage at which the predecessor has
                  left it. The arbitration proceedings shall be governed by the Arbitration and Conciliation Act,
                  1996 with any statutory modifications and re-enactments or amendments thereof.
                  The award of the arbitration shall be final and binding on the parties and shall be enforceable in
                  any competent court of law. This shall be subject to the rights of the Lender to proceed with the
                  section 138 Negotiable Act
                  as mentioned in the clause no 10 above.</li>
                <li> Any payments made by/on behalf/ for the Borrower or any realisations in relation
                  to the Loan, security, shall be appropriated towards the Outstanding Balance
                  and/ or Liabilities Any statement of account furnished by the Lender shall be
                  accepted by and be binding on the Borrower(s) and shall be conclusive proof of
                  the correctness of the amounts mentioned therein except for any manifest error
                  therein. Provided however that the Lender may, at its own discretion use any
                  method of appropriation as deemed appropriate as per its internal policies and
                  processes.</li>
                <li> If there are two or more Borrowers, the Borrower’s liability under this agreement
                  shall be joint and several.
                  The Borrower has affixed their signatures after verifying and understanding the content of this
                  agreement.</li>
                <li> The Borrower(s) expressly recognizes, accepts and consents that the Lender shall
                  be absolutely entitled and have full power and authority to sell, assign, securitize
                  or transfer the Loan to any third party of the Lender’s choice without reference to
                  or without intimation to the Borrower(s) in any manner, in whole or in part, and on
                  such terms and conditions as the Lender may deem fit including reserving a right
                  to the Lender to retain its power hereunder to proceed against the Borrower(s) on
                  behalf of the purchaser, assignee or transferee, for recovery of any or all
                  outstandings and dues of the Borrower(s). Any such action and any such sale,
                  assignment, securitisation or transfer shall bind the Borrower(s) to accept such third
                  party as creditor exclusively or as a joint creditor with the Lender, or as creditor
                  exclusively, with the right to the Lender to continue to exercise all powers
                  hereunder on behalf of such transferee, assignee or third party, and the Borrower
                  shall be obliged to pay the Outstanding Balance to such transferee, assignee or
                  other third party.</li>
                <li>The Borrower(s) accepts, confirms and consents for the disclosure and sharing by
                  the Lender of all or any information and data relating to the Borrower(s), the
                  facilities, any other transactions that the Borrower(s) has with the Lender, the
                  Borrower(s) account, and the agreements and documents related to the
                  facilities/loans and transactions, including but not limited to information relating to
                  default, if any, committed by the Borrower(s), in the discharge of the Borrower(s)
                  obligations in relation to the facilities/loans or other transactions, as the Lender
                  may deem appropriate and necessary to disclose and furnish, to the Reserve Bank
                  of India (RBI) and/or to the Credit Information Companies (CICs) and/or to any
                  other agency or body as authorised in this behalf by RBI, to other banks and
                  lenders including assignees and potential assignees, to rating agencies, to its
                  professional advisers and consultants and to its service providers instructed by it in
                  relation to the facilities/loans, and/or as required under law or any applicable
                  regulation, at the order of a court of law, or at the request or order of any statutory,
                  regulatory or supervisory authority with whom it customarily complies.</li>
                <li>Borrower(s) agrees that the Lender may collect, store, use, transfer or disclose any
                  information provided by the Borrower, including sensitive personal data, for
                  purposes, including but not limited to data processing, statistical or risk analysis,
                  conducting credit or anti-money laundering checks, designing financial services
                  or related products, marketing financial services or related products, customer
                  recognition on Lender's website, offering relevant product and service offers to
                  customers, etc. MAFIL may share Borrower(s) information with all the
                  companies/entities/ subsidiaries/affiliates thereof under MAFIL and/or any other
                  bank/financial institution/society, etc. as necessary, for the aforementioned
                  purposes.</li>
                <li>Any notice to be given to the Borrower in respect of this Agreement shall be
                  deemed to have been validly given if served on the Borrower sent by email/other
                  online App or registered post/ courier service to or left at the address of the
                  Borrower stated in the Schedule -1 hereto at the Borrower’s existing or last known
                  business or private address.</li>

              </ol>
              <br><br>
              <p class="justify">
                The Borrower hereby admits that this Agreement has been completely explained to him/her/them and
                he/she/they has/have
                fully understood the meaning of each and every CLAUSE, TERM & CONDITIONS and has/have signed this
                Agreement with full
                knowledge and understanding of the obligations herein willingly undertaken, agreed and accepted.</p>
              <p class="justify">
                IN WITNESS WHEREOF, the parties here to have set their hands on the date and year
                mentioned in the schedule herein.</p>
              <p class="justify">
                &nbsp;</p>
              <p class="justify">
                &nbsp;</p>
              <p style="text-align:right;padding-right:10px">For Manappuram Finance Ltd
              </p>
              <p style="text-align:right;padding-right:10px">Satheeshkumar.M(Sr.General Manager)
              </p>
              <p style="text-align: right;">

                <img src="assets\thumbnail_Sign_Satheesh_Sir.jpg" height="50" width="90" style="text-align: right;" />

              </p>
              <div class="signature-row">
                <p class="left">Borrower</p>
                <p class="right">Lender</p>
              </div>
              <br /> <br />
              <p style="text-align: center">
                <img src="assets\img\login.png" height="100" width="250" style="text-align: center" />&nbsp;
              </p>
              <p style="text-align: center;">
                <strong><u>Details of Borrower</u></strong>
              </p>

              <br />
              <p style="text-align: center;">
                <strong>KFS-Schedule-1</strong>
              </p>


              <div>

                <h3 class="center">KFS-Schedule-1</h3>

                <table class="table" border="1">
                  <tr>
                    <th>Sr.No</th>
                    <th>Particulars</th>
                    <th>Details</th>
                  </tr>

                  <tr>
                    <td>1</td>
                    <td>Date of Execution of Loan Agreement</td>
                    <td>{{ loandt | date:'dd-MMM-yyyy' }}</td>
                  </tr>

                  <tr>
                    <td>2</td>
                    <td>Place of the agreement</td>
                    <td>{{ agmntplc }}</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>Loan Date</td>
                    <td>{{ loandt | date:'dd-MMM-yyyy' }}</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>Annualized Rate of Interest</td>
                    <td><b>{{ anlint }}%</b></td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>Purpose Of Loan</td>
                    <td>Personal Need</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>Name the Borrower/Co Borrower</td>
                    <td>{{ borrnm }}</td>
                  </tr>

                  <tr>
                    <td>7</td>
                    <td>Address</td>
                    <td>{{ addr }}</td>
                  </tr>

                  <tr>
                    <td>8</td>
                    <td>Email address</td>
                    <td>{{ emailaddr }}</td>
                  </tr>

                  <tr>
                    <td>9</td>
                    <td>Mobile No.</td>
                    <td>{{ mobno }}</td>
                  </tr>

                  <tr>
                    <td>10</td>
                    <td>Registered mobile number</td>
                    <td>{{ mobno }}</td>
                  </tr>

                  <tr>
                    <td>11</td>
                    <td>Type of Borrower</td>
                    <td>Individual</td>
                  </tr>

                  <!-- Schedule 2 -->
                  <tr>
                    <td colspan="3">
                      <h3 class="center">KFS-Schedule-2</h3>
                    </td>
                  </tr>

                  <tr>
                    <th>Sr.No</th>
                    <th>Particulars</th>
                    <th>Details</th>
                  </tr>

                  <tr>
                    <td>(i)</td>
                    <td>Loan Amount</td>
                    <td>Rs. {{ loanamt }} /-</td>
                  </tr>

                  <tr>
                    <td>(ii)</td>
                    <td>Total interest charge during the entire tenor of
                      the loan (in Rupees)</td>
                    <td>{{ intchg }}</td>
                  </tr>

                  <tr>
                    <td>(iii)</td>
                    <td>Other up-front charges, if any (break-up of
                      each component to be given below) (in
                      Rupees)</td>
                    <td>{{ upfrontchg }}</td>
                  </tr>

                  <tr>
                    <td>a</td>
                    <td>Processing Fee Including GST</td>
                    <td>{{ procfee }} ({{ process_rate }}% of loan amount plus applicable
                      taxes)</td>
                  </tr>

                  <tr>
                    <td>b</td>
                    <td>Credit Linked Insurance Premium</td>
                    <td>Rs. {{ crdlinked }}</td>
                  </tr>

                  <tr>
                    <td>c</td>
                    <td>Others (if any) (in Rupees) (details to be
                      provided)</td>
                    <td>{{ othlinked }}</td>
                  </tr>

                  <tr>
                    <td>iv</td>
                    <td>Net disbursed amount ((i)-(iii)) (in Rupees)</td>
                    <td>{{ netdisbursed }}</td>
                  </tr>

                  <tr>
                    <td>v</td>
                    <td>Total amount to be paid by the borrower (sum
                      of (i), (ii) and (iii)) (in Rupees)</td>
                    <td>Rs. {{ totamt }}</td>
                  </tr>

                  <tr>
                    <td>vi</td>
                    <td>Annual Percentage Rate</td>
                    <td>{{ annualper }}</td>
                  </tr>

                  <tr>
                    <td>vii</td>
                    <td>Tenure (in Months)</td>
                    <td>{{ tenure }}</td>
                  </tr>

                  <tr>
                    <td>viii</td>
                    <td>Repayment frequency by the borrower</td>
                    <td>{{ repayfreq }}</td>
                  </tr>

                  <tr>
                    <td>ix</td>
                    <td>No of Installment of repayment</td>
                    <td>{{ noofrepay }}</td>
                  </tr>

                  <tr>
                    <td>x</td>
                    <td>Amount of each instalment of repayment(EMI
                      in Rupees)</td>
                    <td>Rs. {{ emiamt }}</td>
                  </tr>

                  <tr>
                    <td>xi</td>
                    <td>EFI / EMI due date</td>
                    <td>{{ dayValue }} day of every month</td>
                  </tr>

                  <tr>
                    <td>xii</td>
                    <td> Repayment Mode</td>
                    <td>NACH / ECS/UPI/INTERNET BANKING/CASH</td>
                  </tr>

                  <tr>
                    <td>xiii</td>
                    <td>Rate of annualized penal charges in case of
                      delayed payments (if any should be in bold )</td>
                    <td>{{ penrt }}%</td>
                  </tr>

                  <tr>
                    <td>xiv</td>
                    <td>Foreclosure Charges</td>
                    <td>4% of the loan amount outstanding, as on
                      the date of such full prepayment /
                      foreclosure plus applicable taxes</td>
                  </tr>

                  <tr>
                    <td>xv</td>
                    <td> ACH/Cheque Return Charges (Including GST)</td>
                    <td>
                      <ul style="padding-left: 20px;">
                        <li>1st Instance Rs:500/- </li>
                        <li>2nd Instance Rs:750/-</li>
                        <li>3rd and above Instance Rs:1000/-</li>
                      </ul>
                    </td>
                  </tr>

                  <tr>
                    <td>xvi</td>
                    <td>Prepayment/Part payment Charges</td>
                    <td>Nil, however, the prepayment /part payment
                      amount will be adjusted against future EMI’s or
                      to be adjusted against last EMI instalments</td>
                  </tr>

                  <tr>
                    <td>xvii</td>
                    <td>Legal Charges</td>
                    <td>Actual</td>
                  </tr>

                  <tr>
                    <td>xviii</td>
                    <td>Loan Disbursement Mode</td>
                    <td>NEFT / IMPS / RTGS</td>
                  </tr>

                  <!-- Disbursement -->

                  <tr>
                    <td colspan="3">
                      <h3 class="center">Disbursement Details</h3>
                    </td>
                  </tr>

                  <tr>
                    <td>a</td>
                    <td>Beneficiary Name</td>
                    <td>{{ benefname }}</td>
                  </tr>

                  <tr>
                    <td>b</td>
                    <td>Bank Name</td>
                    <td>{{ bnkname }}</td>
                  </tr>

                  <tr>
                    <td>c</td>
                    <td>Account No</td>
                    <td>{{ bnkacc }}</td>
                  </tr>

                  <tr>
                    <td>d</td>
                    <td>IFSC Code</td>
                    <td>{{ ifsc }}</td>
                  </tr>

                  <tr>
                    <td colspan="3">
                      <h3 class="center">Other disclosures</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Details of LSP acting as recovery agent and
                      authorized to approach the borrower</td>
                    <td>NA. However, will inform the borrower in
                      advance of any agent/authorized person
                      appointed for recovery in future.</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Cooling off/look-up period.</td>
                    <td>Borrower shall have the option to exit from the
                      digital loan by paying principal and
                      proportionate APR without any penalty during
                      the first 3 days of disbursement of the loan</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Name,designation,address,and phone number
                      of nodal grievance redressal officer designated
                      specifically to deal with FinTech/ digital lending
                      related complaints/issues</td>
                    <td>Saroja kumar panda 04873050238
                      Time8:30am to 5:30pm Toll free 1800 - 420
                      22 - 33</td>
                  </tr>

                </table>

              </div>

              <p class="justify">
                &nbsp;</p>
              <p class="justify">
                &nbsp;</p>
              <p style="text-align:right;padding-right:10px">For Manappuram Finance Ltd
              </p>
              <p style="text-align:right;padding-right:10px">Satheeshkumar.M(Sr.General Manager)
              </p>
              <p style="text-align: right;">

                <img src="assets\thumbnail_Sign_Satheesh_Sir.jpg" height="50" width="90" style="text-align: right;" />

              </p>
              <div class="signature-row">
                <p class="left">Borrower</p>
                <p class="right">Lender</p>
              </div>
              <br /> <br />
              <p style="text-align: center">
                <img src="assets\img\login.png" height="100" width="250" style="text-align: center" />&nbsp;
              </p>

              <p style="text-align: center">
                <strong>Schedule-3</strong>
              </p>
              <p style="text-align: center">
                <strong><u>Repayment Schedule</u></strong>
              </p>
              <br />

              <div>
                <table class="table" border="1" width="100%">


                  <tr>
                    <th style="width:100px">Due Date</th>
                    <th style="width:50px">Installment No</th>
                    <th style="width:50px">Outstanding Principal</th>
                    <th style="width:50px">Principal</th>
                    <th style="width:50px">Interest Amount</th>
                    <th style="width:50px">EMI</th>
                  </tr>


                  <tr *ngFor="let item of reccur">
                    <td class="center">{{ item.dueDate | date:'dd-MMM-yyyy' }}</td>

                    <td class="center">{{ item.installmentNo }}</td>

                    <td class="right">{{ item.openingBalance }}</td>

                    <td class="right">{{ item.principalAmount }}</td>

                    <td class="right">{{ item.interestAmount }}</td>

                    <td class="right">{{ item.installmentAmount }}</td>
                  </tr>


                  <tr class="footer">
                    <td colspan="2" class="center"><b>Total</b></td>

                    <td></td>

                    <td class="right"><b>{{ getTotal('principalAmount') }}</b></td>

                    <td class="right"><b>{{ getTotal('interestAmount') }}</b></td>

                    <td class="right"><b>{{ getTotal('installmentAmount') }}</b></td>
                  </tr>


                </table>
              </div>

              <p class="justify">
                &nbsp;</p>
              <p class="justify">
                &nbsp;</p>
              <p style="text-align:right;padding-right:10px">For Manappuram Finance Ltd
              </p>
              <p style="text-align:right;padding-right:10px">Satheeshkumar.M(Sr.General Manager)
              </p>
              <p style="text-align: right;">

                <img src="assets\thumbnail_Sign_Satheesh_Sir.jpg" height="50" width="90"
                  style="text-align: right; padding-right: 10px;" />

              </p>
              <div class="signature-row">
                <p class="left">Borrower</p>
                <p class="right">Lender</p>
              </div>
              <br /> <br />






            </div>
          </td>
        </tr>
      </table>
    </div>
  </mat-card>
</div>