
.mat-tab-group{
    width: 100%;
}
th.mat-header-cell:first-of-type {
    padding-left: 3% !important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 3% !important;
}
.mat-icon{
    color: white !important;
}